.card {
    display: block;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0;
    background-color: rgb(221, 221, 221);
}

.card-content {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.card-header {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-title, .card-right {
    display: flex;
    width: 50%;
    align-items: center;
}

.card-right {
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.icon {
    width: 15px;
    height: 15px;
}

.card-image {
   margin: 0;
   padding: 5px 5px 0 5px; 
   width: calc(100% - 10px);
   background-color: lightgray;  
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image-number {
    text-align: center;
    font-size: smaller;
    padding-bottom: 5px;
}

.card-capacities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}

.card-capacity {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.card-capacity-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: bold;
}

.card-capacity-name {
    flex-grow: 1;
}

.card-capacity-cost {
    display: flex;
    gap: 5px;
    align-items: center;
}

.card-capacity-description {
    font-size: smaller;
}