<div class="card">
    <div class="card-content" [style.background-color]="backgroundColor()">
        <div class="card-header">
            <div class="card-title">
                {{monster().name}}
            </div>
            <div class="card-right">
                <div class="card-hp">{{monster().hp}} HP</div>
                <div class="card-type">
                    <img class="energy icon" [src]="monsterTypeIcon()" alt="electric">
                </div>
            </div>
        </div>
        <div class="card-image">
            <img [src]="monster().image" alt="monster">
            <div class="card-image-description">{{monster().description}}</div>
        </div>
        <div class="card-capacities">
            <div class="card-capacity">
                <div class="card-capacity-header">
                    <div class="card-capacity-cost">
                        <img class="energy icon" src="img/{{monster().type}}.png" alt="electric">
                        <img class="energy icon" src="img/{{monster().type}}.png" alt="electric">
                    </div>
                    <div class="card-capacity-name">{{monster().attackName}}</div>
                    <div class="card-capacity-damage">{{monster().attackStrength}}</div>
                </div>
                <div class="card-capacity-description">
                    <p>{{monster().attackDescription}}</p>
                </div>
            </div>
        </div>
    </div>
</div>